<html lang="en">
<head>
    
    <title>Batch Updated</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href='/stylesheets/main.css'> -->
    
</head>
<body>


<form action="/" method="POST" enctype="multipart/form-data">
  <div class="container">
    <h2>Batch Updated</h2>
    <div id="box" class="jumbotron">
      <center>
        <h2><span id="tick" class="glyphicon glyphicon-ok" aria-hidden="true"></span> Success!</h2>
        <p>Your Batch has been Updated Successfully!</p>
        
  </center>
  </div>
    
  </div>
  </div>
   </form>
</body>
</html>