<html lang="en">
<head>
    
    <title>Payment Failed</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href='/stylesheets/main.css'> -->
    
</head>
<body>


<form action="/" method="POST" enctype="multipart/form-data">
  <div class="container">
    <h2>Payment Failed</h2>
    <div id="box" class="jumbotron">
      <center>
        <h2>Payment failed!</h2>
        <p>Please try again after some time.</p>
  </center>
  </div>
    
  </div>
  </div>
   </form>
</body>
</html>